body {
    font-family: "Times New Roman", serif;
}

header {
    background-color: #ffff;
    padding: 20px;
    text-align: center;
}

section {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

footer {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: #3366ff; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}