body {
    font-family: "Times New Roman", serif;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #f0f0f0;
    color: #000;
    text-align: center;
    padding: 20px;
    margin-top: 20px; /* Adds space between the main content and the footer */
}

footer a {
    color: #6FD0E5; /* Bright color for links */
    text-decoration: none; /* Optional: removes underline from links */
}

footer a:hover {
    text-decoration: underline; /* Adds an underline on hover for better accessibility */
}