body {
    font-family: "Times New Roman", serif;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

section {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 100px;
}

footer {
    background-color: #ffffff;
    color: #000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 150px;
}

footer a {
    color: #3366ff; 
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}